body{
    background: #191919;
    color: #FFF2D8;
}
.dato-personal{
    text-align: center;
}
.iconos{
    margin-bottom: 20px;
}
#proyectos{
    text-align: center;
}
.card{
    display: inline-block;
    border: 2px solid white;
    border-radius: 8px;
    width: 25%;
    margin: a;
    padding: 8px;
}
